div#view_gallery .modal-dialog {
  max-width: 75%;

}

div#view_gallery .modal-content .gallery_box {
  min-height: 500px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

div#view_gallery .modal-body {
  padding: 0px;
}

.modal-backdrop {
  z-index: 1;
}

div#view_gallery {
  z-index: 9;
  background: #fb8a00;
}

div#view_gallery .modal-content {
  background-color: #fff;
  border: 0px solid rgba(0, 0, 0, .2);
  box-shadow: 0px 20px 15px -15px #00000029;
}


.zoom_grid_img {
  display: none;
}

.revGallery-anchor,
.gal-overlay,
.nak-gallery-poster {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


.revGallery-anchor {
  overflow: hidden;
  position: relative;
  width: calc(100% / 4);
  display: block;
  float: left;
  border: 2px solid #fff;
}

.gal-overlay {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background .4s ease;
  -webkit-transition: background .4s ease;
}

.revGallery-anchor:hover .gal-overlay {
  background: rgba(27, 27, 27, 0);
}

.nak-gallery {
  display: block;
  width: 100%;
  position: relative;
  margin-top: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.nak-gallery-poster {
  padding-bottom: 100%;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.revGallery-anchor:hover .nak-gallery-poster {
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
}

.gallery_box .img-responsive {
  display: none;
}


.revGallery-anchor-width1 {
  width: 40%
}

.revGallery-anchor-width2 {
  width: 30%
}

.revGallery-anchor-width3 {
  width: 20%
}

.nak-gallery-height1 {
  padding-bottom: 400px
}

.nak-gallery-height2 {
  padding-bottom: 300px
}

.nak-gallery-height3 {
  padding-bottom: 200px
}

.preloader {
  display: none;
}

.preloaderStyle {
  background: red;
  width: 100%;
  height: 100px;
}

.category_box img {
  max-width: 100%;
}

.gallery_category {
  border-right: 1px solid #ddd;
  height: 100%;

}

.category_box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.category_box span {
  position: absolute;
  font-size: 16px;
  color: #fff;
  z-index: 1;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 6px 30px;
  transition: all 0.3s ease;
}

.category_box:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: #00000073;
}

.category_box:hover span,
.category_box.is-checked span {
  background: #fb8a00;
  border-color: #fb8a00;
  transition: all 0.3s ease;
}

.modal-title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

@media(max-width:1192px) {
  div#view_gallery .modal-dialog {
    max-width: 90%;
  }
}

@media(max-width:767px) {
  div#view_gallery .modal-dialog {
    max-width: 94%;
    margin: auto;
    min-height: calc(100% - -15rem);
  }
  .gallery_box {
    padding: 1rem;
}
div#view_gallery .modal-content .gallery_box {
  min-height: auto;
}

}